.body {
    background-color: #49d8ff8a;
}

.main {
    background-color: #ffffff;
    margin: 30px;
}

.btn-publish {
    margin: 15px;
    float: right;
}

.media-object {
    width: 50px;
    height: 50px;
}

.text-desc {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}

.img-thumbnail{
    background-color: #18c8fa;
}

.profile .section{
    margin-top: 15px;
}