.body {
    background-color: #49d8ff8a;
}

.main {
    background-color: #ffffff;
    margin: 30px;
}

.btn-publish {
    margin: 15px;
    float: right;
}

.btn-comment {
    margin: 3px;
    float: right;
}

.media-object {
    width: 50px;
    height: 50px;
}

.text-desc {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}

.img-thumbnail {
    background-color: #18c8fa;
}

.profile .section {
    margin-top: 15px;
}

.comment-form-margin {
    margin: 10px 0;
}

.media-body-text {
    padding: 15px 0;
}

.comment-sp {
    margin-top: 0;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.menu {
    color: #5cb864;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover{
    color: #056279;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon :hover {
    color: #056279;
}

.menu .active {
    color: #056279;
}

.menu .icon:hover {
    color: #056279;
}

.question-related {
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.community-tag {
    text-decoration-line: none;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 16px;
    padding: 2px 5px;
    background-color: #99cfff;
    font-size: 12px;
    color: #fff !important;
    border-radius: 4px;
    margin: 4px;
}


.footer {
    text-align: center;
    font-size: 12px;
    color: #666;;
    padding: 0 0 15px 0;
}
