<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <title>zys' comunity</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    导入jQuery-->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>

    <!-- 自定义格式 -->
    <link rel="stylesheet" href="css/community.css"/>

    <script src="js/jquery-3.6.3.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>

<script type="application/javascript">
    window.onload = function (){
        var item = window.localStorage.getItem("closable");
        if(item){
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>

<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3 style="color:green"><span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                发现</h3>
            <hr>

            <div class="media" th:each="question:${pagination.data}">
                <div class="media-left">
                    <a th:href="@{'/question/'+ ${question.id}}">
                        <img class="media-object img-thumbnail" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading text-primary">
                        <a th:href="@{'/question/'+ ${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span class="text-warning" th:text="${question.description}"></span><br>
                    <span class="text-desc">
                        <span th:text="${question.commentCount}"></span>个回复 ·
                        <span th:text="${question.viewCount}"></span>次浏览 ·
                        <span th:text="${question.likeCount}"></span>次点赞 ·
                        <span th:text="${#dates.format(question.gmtCreate,'YYYY-MM-dd HH:mm:ss')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page=1,search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page - 1},search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}"  th:class="${pagination.page==page}? 'active':''">
                        <a th:href="@{/(page=${page},search=${search})}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page + 1},search=${search})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage},search=${search})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h2>热门话题</h2>
        </div>
    </div>
</div>
<div th:insert="~{foot :: foot}"></div>
</body>
</html>
